
/* ----------global---------- */

:root{
    --text-decoration: Roboto, Raleway, sans-serif;
    --bg-color:#FFFFFF;
    --section-color-1:#2F303A;
    --section-color-2:#F5F4FA;

    --text-color:#212121;
    --second-text-color:#FFFFFF;
    --third-text-color:#757575;
    --fourth-text-color:rgba(255, 255, 255, 0.6);

    --link-color: #2196F3;
    --link-revers-color:#FFFFFF;
    --logo-color:#2196F3;
    --botton-color:#F5F4FA;
}

body{
    font-family: var(--text-decoration);
    background-color: var(--bg-color);
    color: var(--text-color);   
}

.config li{
    list-style: none;
}


/* ----------header---------- */

.logo-style{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--text-color);
}

.link{
    text-decoration: none;
    color: var(--text-color);
}

[aria-current] {
    color: var(--link-color);
}

.link:focus,
.link:hover{
    color: var(--link-color);
}

.logo{
    color: var(--logo-color);
}

.navigation{
    font-weight: 500;
    font-size: 14px;
    line-height:calc(16/14);
    letter-spacing: 0.02em;
}


/* ----------main---------- */


.text-c-2{
    color: var(--second-text-color);
}

.text-c-3{
    color: var(--third-text-color);
}

.text-c-4{
    color: var(--fourth-text-color);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* section hero */


.hero-botton,
.scroll-list{
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.hero-botton{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--link-color);
    color: var(--link-revers-color);
}
.hero-botton:focus,
.hero-botton:hover{
    background-color:#188CE8;
}

.hiden-title{
    display: none;
}

.section-bg{
    background-color: var(--section-color-1);
}

/* section 2 */

.s-2-t{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}


/* section 3 */


.title-2{
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
}
.title-3{
    Font-style: bold;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}

/* section 4 */
.team-list{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.second-section-bg{
    background-color: var(--section-color-2);
}

.title-3-1{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
}
.work-position{
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
}


/* ----------portfilo main---------- */


.content-list{
    background: var(--bg-color);
    border: 1px solid var;  
}

.l-b{
    font-family: 'Roboto';
}
.l-b:focus,
.l-b:hover{
    background-color: var(--link-color);
    color: var(--link-revers-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.scroll-list{
    background-color: var(--botton-color);
}
.p-title-2{
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
}
.text-coment{
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
}


/* ----------footer---------- */


address{
    font-family: none;
    font-style: normal;
}

